/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/


/*********************
NAVIGATION STYLES
*********************/

.nav {

	li {

		a {
			padding: 15px 30px;
		}
	}
}

#menu-main-navigation {
	// width: 75%;
}

#menu-cart {
	// width: 25%;
	float: right;
}